/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav-box {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  padding-bottom: 25px;
  align-items: center;
}
.anchor-style {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.text-box {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.whole-page {
  background-color: #1A2246;
  color: #AA6C5A;
}
.header-image,
.img-box {
  width: 100%;
  height: auto;
  padding: 10px;
}
.home-page-img {
  width: 100%;
  height: auto;
}
.top-content {
  display: flex;
  flex-direction: column;
}
.featured-stories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stories-header {
  padding: 20px;
  font-size: 50px;
}
.story-snip-one {
  display: flex;
  flex-basis: 33.33%;
}
.story-snip-two {
  display: flex;
}
.story-snip-three {
  display: flex;
}
