.about-container {
  padding-top: 60px;
}
.about-container h1 {
  text-align: center;
}
.about-container .row {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color:black;
}
.about-container .row div {
  width: 264px;
  height: 264px;
  padding: 3px;
  margin: 20px;
  -webkit-box-shadow: 7px 4px 63px -30px rgba(247,249,255,1);
  -moz-box-shadow: 7px 4px 63px -30px rgba(247,249,255,1);
  box-shadow: 7px 4px 63px -30px rgba(247,249,255,1);
}
.about-container .row a {
  text-decoration: none;
  color: white;
  }

  .details-box {
    margin-top:15px;
    margin-left:20px;
    padding-top:10px;
    width:250px;
    height:85px;
    padding-left:10px;
    padding-right:10px;
    text-align:justify;
    border:@text-box-border;
    background:#349CE3;
    -webkit-box-shadow: 7px 4px 63px -30px rgba(247,249,255,1);
    -moz-box-shadow: 7px 4px 63px -30px rgba(247,249,255,1);
    box-shadow: 7px 4px 63px -30px rgba(247,249,255,1);
    display:flex;
    flex-direction: column;
    }

  @media only screen and (max-width: 500px) {
    .featured-stories {
      font-size:30px;
    }
  }