.whole-page {
  background-color:#1A2246;
  color: #AA6C5A;
  padding-left: 20px;
  padding-right: 20px ;
  font-family: 'Raleway', sans-serif;
}
.img-box {
  width: 100%;
  height: auto;
  padding: @story-padding;
}
.name-effects {
  /*text-shadow: @shadow;*/
  text-align: center;
  padding: 15px;
  color: #AA6C5A;
  font-size: 20;
}