@import "variables";
@import "mixins";
@import "reset";
@import "global";
@import "navigation";
@import "footer";
@import "home-page";
.whole-page {
    background-color:black;
    color: #AA6C5A;
    padding-left: 20px;
    padding-right: 20px ;
}
.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

  }

  .img-box {
    width: 100%;
    height: auto; 
    padding: @story-padding;
  }

  .text-box {
      padding:@story-padding;
  }

.home-page-img {
    width: 100%;
    height: auto;
}
.top-content {
    display: flex;
    flex-direction: column;
}
.featured-stories {
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
.stories-header {
    padding:20px;
    font-size: 50px;
    text-shadow: @shadow;
}

.name-effects {
    text-shadow: @shadow;
    text-align: center;
}


.story-snip-one {
    display:flex;
    flex-basis: 33.33%;
    border: @text-box-border;
    margin-bottom: 10px;
    box-shadow: @box-shadow;
}
.story-snip-two {
    display:flex;
    border: @text-box-border;
    margin-bottom: 25px;
    box-shadow: @box-shadow;
}
.story-snip-three {
    display:flex;
    border: @text-box-border;
    margin-bottom: 10px;
    box-shadow: @box-shadow;
}

.about-us-box {
    border: @text-box-border;
    padding: 10px;
    margin-bottom: 10px;
}


.Our-team-box {
    border: @text-box-border;
    padding: 10px;
    margin-bottom: 10px;
}

.story-one {
    border: @text-box-border;
    padding: 10px;
    margin-bottom: 10px;
}

.story-two {
    border: @text-box-border;
    padding: 10px;
    margin-bottom: 10px;
}

.story-three {
    border: @text-box-border;
    padding: 10px;
    margin-bottom: 10px;
}



@media only screen and (max-width: 500px) {

.header-image {
    display: none;
}

.story-snip-one {
    display:flex;
    flex-direction: column;
}

.story-snip-two {
    display:flex;
    flex-direction: column-reverse;
}

.story-snip-three {
    display:flex;
    flex-direction: column;
}

.img-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.text-box {
    justify-content: center;
}

.name-effects {
    padding: 15px;
    color: white;
    font-size: 20;
}



}