@import "variables";
@import "mixins";
@import "reset";
@import "global";
@import "navigation";
@import "footer";
@import "home-page";

.whole-page {
    background-color:#1A2246;
    color: green;
}

.header-image, .img-box {
    width: 100%;
    height: auto;
  }

.home-page-img {
    width: 100%;
    height: auto;  
}

.top-content {
    display: flex;
    flex-direction: column;
}

.featured-stories {
    display:flex;
    flex-direction:column;
}

.story-snip-one {
    display:flex;
}

.story-snip-two {
    display:flex;
}

.story-snip-three {
    display:flex;
}