@import "variables";
@import "mixins";
@import "reset";
@import "global";
@import "navigation";
@import "footer";
@import "home-page";
@import "carosel";
.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .text-box {
      padding:@story-padding;
  }
.home-page-img {
    width: 100%;
    height: auto;
}
.top-content {
    display: flex;
    flex-direction: column;
}