.nav-box {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    padding-bottom: 25px;
    align-items: center;
}

.anchor-style{
    text-decoration: none;
    color:white;
    padding:20px;
}